@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fafaf9;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1c1917;
  }
}

.underline-animation {
  position: relative;
  display: inline-block;
  width: fit-content;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
  text-decoration-skip-ink: auto;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease-in-out;
}

.underline-animation:hover {
  text-decoration-color: oklch(25.7% 0.09 281.288);
}
@media (prefers-color-scheme: dark) {
  .underline-animation:hover {
    text-decoration-color: oklch(93% 0.034 272.788);
  }
}
@property --tw-font-weight {
  syntax: "*";
  inherits: false;
}
@layer properties {
  @supports ((-webkit-hyphens: none) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color:rgb(from red r g b)))) {
    *, ::before, ::after, ::backdrop {
      --tw-font-weight: initial;
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #fafaf9;
}

::-webkit-scrollbar-corner {
  background: #fafaf9;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #1c1917;
  }

  ::-webkit-scrollbar-corner {
    background: #1c1917;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3f3f46;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #52525b;
  }
}

* {
  scrollbar-color: #d4d4d8 #fafaf9;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #3f3f46 #1c1917;
  }
}